.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: red;
  overflow: auto;
}

/* .container-fluid,
.row-fluid { height: inherit; } */

.bodycolor{
  background-color: #F5F5F5;
  width: 100%;
  height: 100%;
    /* margin: 0 auto; */
}
.post-avatar{
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
}

.post-section{
  position: relative;
}

.post-section-edit{
  position: absolute;
  right: 20%;
}

.post-section-edit button{
  text-decoration: none;
}




.post-section-delete{
  position: absolute;
  right: 10%;
}

.post-section-delete button{
  text-decoration: none;
}

.author-pic{
  position: absolute;
  top: 13%;
  left: 13%;
}

.min-read{
  position: absolute;
  left: 13%;
  top: 25%;
}
/* .commentbox{
  position: absolute;
} */
.comment-avatar{
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.comment-group{
  position: relative;
  height: 190px;
}

.form-comment{
  position: absolute;
  width: 85%;
  top: 25%;
  left: 10%;
}

.post-comment{
  position: relative;
  height: 190px;
}
.comments-avatar{
  position: absolute;
  left: 10%;
}
.users-avatar{
  position: absolute;
  left: 18%;
}

.comment-body{
  position: absolute;
  left: 17%;
  bottom: 30%;
}